@media only screen and (min-width: 38em) {

    main {
        max-width: 1000px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 30px auto;
    }

    footer {
        display: grid;
        grid-template-columns: 2fr auto 1.5fr;
        column-gap: 0.6em;
        padding-left: 0;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .list-view {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .list-view section {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    }

    .info-cards {
        display: grid;
    }

    #weather-api {
        display: grid;
    }

    #joinPage {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}