:root {
    --body-font-family: "Montserrat", sans-serif;
    --body-font-weight: 400;
    --heading-font-family: "Shrikhand", serif;
    --heading-font-weight: 400;

    /*Colors*/
    --dark-color: #17033f;
    --primary-color: #1c2d63;
    --secondary-color: #ad95db;
    --accent-color: #c8c96a;
}

/*For the whole site*/
* {
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/*HEADER*/
header {
    display: grid;
    grid-template-columns: 35px auto 44px;
    padding: 7px 0 5px 15px;
    align-items: end;
    column-gap: 15px;
    background-color: var(--primary-color);

}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.3rem;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: #ffff;
    padding-bottom: 5px;
}