:root {
    --body-font-family: "Lora", serif;
    --body-font-weight: 200;
    --heading-font-family: "Montserrat", sans-serif;
    --heading-font-weight: 550;

    /*Colors*/
    --dark-color: #283618;
    --primary-color: #344e41;
    --secondary-color: #606c38;
    --lighter-secondary-color: #c8c96ac4;
    --accent-color: #dda15e;
    --lighter-accent-color: #dda25e79;
    --lighter-text-color: #FFF;
    --light-border-color: #ddd;
    --light-input-color: #ebebeb;
    --shadow-color: #0000002a;
    --overlay-back-color: #000000b7;
    --dark-hover-color: #00000093;
}

/*For the whole site*/
* {
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/*HEADER*/
header {
    display: grid;
    grid-template-columns: 35px auto 44px;
    padding: 7px 0 5px 20px;
    align-items: end;
    column-gap: 1em;
    background-color: var(--primary-color);
    color: var(--lighter-text-color);
}

header img {
    display: block;
    width: 35px;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.3rem;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--lighter-text-color);
    padding-bottom: 5px;
}

/*HAMBURGER NAVIGATION*/
.hamburger {
    background: none;
    border: none;
    color: var(--lighter-text-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 44px;
    height: auto;
}

.hamburger::before {
    content: "\2630";
    font-size: 2.3rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/*NAVIGATION BAR*/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 1rem 20px;
    color: var(--dark-color);
    text-decoration: none;
    border-bottom: solid 1px var(--light-border-color);
    font-family: var(--heading-font-family);
    font-weight: 500;
    text-transform: uppercase;
}

.navigation li.current {
    background-color: var(--lighter-secondary-color);
}

.navigation a:hover {
    background-color: var(--accent-color);
}

/*MAIN*/
main {
    text-align: center;
}

main h1 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    text-align: left;
    padding-left: 20px;
    color: var(--dark-color);
}

.menu {
    display: flex;
    padding-left: 20px;
    column-gap: 1rem;
}

button {
    appearance: none;
    outline: none;
    background: none;

    width: 80px;
    height: 44px;
    padding: 0 1em 0 1em;
    border-radius: 0.6em;

    font-family: var(--heading-font-family);
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
}

.menu button {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

    background-image: linear-gradient(to right, var(--lighter-text-color) 50%, var(--primary-color) 50%);
    background-size: 200%;
    transition: 0.4s ease-out;
    cursor: pointer;
}

.menu button:hover {
    background-position: right;
    color: var(--lighter-text-color);
}

/*Grid view button click*/
.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    justify-content: center;
    align-items: center;
}

.grid-view section {
    border-top: solid 8px var(--accent-color);
    border-radius: 0.6em;
    padding: 1.5rem;
    margin: 0.6em;
    box-shadow: -10px 11px 10px -6px var(--shadow-color), 10px 11px 10px -6px var(--shadow-color);
}

.grid-view section:hover {
    transform: scale(1.05);
}

.grid-view img {
    width: auto;
    height: 5rem;
    margin: 0.5rem;
}

.grid-view h2 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: italic;
    color: var(--dark-color);
}

.grid-view p {
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
}

.grid-view a {
    color: var(--dark-color);
}

.grid-view a:hover {
    background-color: var(--shadow-color);
    padding: 0.2em;
    border-radius: 0.6em;
}

/*List view button click*/
.list-view {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.list-view section {
    display: flex;
    margin: 0;
    padding: 0.25rem;
}

.list-view h2,
.list-view p,
.list-view a {
    margin: 0 1rem;
}

.list-view section:nth-child(even) {
    background-color: var(--lighter-accent-color);
}

.list-view img {
    display: none;
}

.list-view p:last-of-type {
    display: none;
}

.list-view h2 {
    font-size: 1rem;
}

.list-view a {
    display: inline-block;
    width: 150px;
    overflow-wrap: break-word;
    text-align: left;
    color: var(--dark-color);
}

.list-view a:hover {
    color: #10160a;
}

/*HOME: HERO*/
.hero {
    position: relative;
    margin-top: 0;
}

.hero img {
    border-radius: 0.6em;
    width: 100%;
    height: auto;
}

.hero button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 55px;
    margin-right: 10%;
    margin-bottom: 7%;

    font-size: 1.4em;

    color: var(--lighter-text-color);
    border: 3px solid var(--lighter-text-color);
    box-shadow: -10px 11px 10px -6px var(--shadow-color), 10px 11px 10px -6px var(--shadow-color);

    background-image: linear-gradient(to right, var(--overlay-back-color) 50%, var(--dark-hover-color) 50%);
    background-size: 200%;
    transition: 0.4s ease-out;
    cursor: pointer;
}

.hero button:hover {
    background-position: right;
}

/*HOME: INFO CARDS*/
.info-cards {
    display: block;
    grid-template-columns: 1.5fr 1fr 0.5fr;
    column-gap: 0.6em;
    row-gap: 0.6em;
}

.info-cards section {
    box-shadow: -10px 11px 10px -6px var(--shadow-color), 10px 11px 10px -6px var(--shadow-color);
    border-radius: 0.6em;
    padding: 0;
}

.info-cards h2 {
    text-align: left;
    background-color: var(--lighter-secondary-color);
    color: var(--dark-color);
    border-radius: 0.3em;
    padding: 0.5em;
    margin: 0;

    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: italic;
}

#weather-api {
    display: block;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

#weather-api p {
    padding-left: 1em;
    padding-right: 0.5em;
}

#weather-api h2 {
    grid-column: 1/3;
}

#weather-api figure {
    grid-column: 1/2;
    margin: 0;
    text-align: center;
}

#current-temp {
    font-weight: 700;
    font-size: 1.5em;
}

#weather-desc {
    text-transform: capitalize;
    font-style: italic;
}

#weather-forecast p {
    text-align: left;
    padding-left: 1em;
}

/*HOME: SPOTLIGHT*/
#spot-business-cards {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

#spot-business-cards p:last-child {
    margin: 1.3em;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    text-transform: uppercase;
    font-size: 1em;
    font-style: italic;

    background-color: var(--dark-color);
    color: var(--lighter-text-color);
    padding: 0.5em;
    border-radius: 0.6em;
}

/*JOIN PAGE*/
#joinPage {
    display: block;
    grid-template-columns: 1fr 1fr;
}

#joinPage h1 {
    grid-column: 1/3;
}

.memberForm {
    margin: 1em 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.memberForm fieldset legend {
    text-align: center;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    padding: 1em;
    border-radius: 0.6em;
    background-color: var(--dark-color);
    color: var(--lighter-text-color);
}

.memberForm label {
    font-family: var(--heading-font-family);
    font-weight: 350;
    font-style: italic;
    padding-left: 2px;
}

.memberForm fieldset {
    border-radius: 0.6em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid var(--light-border-color);
    box-shadow: -10px 11px 10px -6px var(--shadow-color), 10px 11px 10px -6px var(--shadow-color);
    margin-bottom: 2em;
}

input:focus, textarea:focus{
    outline: 2px solid var(--accent-color);
}

input[type="text"]:focus-visible,
input[type="email"]:focus-visible,
input[type="tel"]:focus-visible,
input[type="submit"]:focus-visible,
textarea:focus-visible{
    background-color: var(--lighter-text-color);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"],
textarea {
    margin-bottom: 1em;
    height: 44px;
    width: 100%;
    border-radius: 0.6em;
    display: block;
    background-color: var(--light-input-color);
    border: none;
    border-radius: 0.6em;
    padding: 0.75rem;
    color: #000;
    width: 100%;
    appearance: none;
    font-family: var(--body-font);
}

.memberForm input[type="text"]:required,
.memberForm input[type="email"]:required,
.memberForm input[type="tel"]:required,
.memberForm textarea:required {
    border-left: solid 8px var(--accent-color);
}

.memberForm input[type="text"]:valid,
.memberForm input[type="email"]:valid,
.memberForm input[type="tel"]:valid,
.memberForm textarea:valid {
    border-left: solid 8px var(--lighter-secondary-color);

}

textarea {
    width: 100%;
    height: 150px;
    resize: none;
    border-radius: 0.6em;

}

#radioMember {
    grid-column: 1/3;
    width: 98%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#radioMember input[type="radio"] {
    margin-bottom: 1em;
    padding-right: 2px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

#radioMember h2 {
    grid-column: 1/3;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: italic;
    font-size: 1.3em;
    padding-left: 2px;
}

.memberForm input[type="submit"] {
    grid-column: 1/3;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-size: 1em;

    color: var(--dark-color);
    border: 1px solid var(--accent-color);

    background-image: linear-gradient(to right, var(--accent-color) 50%, var(--dark-color) 50%);
    background-size: 200%;
    transition: 0.4s ease-out;
    cursor: pointer;
}

.memberForm input[type="submit"]:hover {
    background-position: right;
    color: var(--lighter-text-color);
    border: 1px solid var(--dark-color);
}

#cardsShowHere {
    grid-column: 2/3;
    padding: 0;
    margin: 0 2em;
}

#cardsShowHere h2 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    text-align: center;
}

#cardsShowHere div {
    background-color: var(--secondary-color);
    color: var(--lighter-text-color);
    width: 100%;
    padding: 1em;
    text-align: center;
    border-radius: 0.6em;
    box-shadow: -10px 11px 10px -6px var(--shadow-color), 10px 11px 10px -6px var(--shadow-color);
    animation: fade 4s;
}

#cardsShowHere h3 {
    font-style: italic;
    font-size: 24px;
}

#cardsShowHere button {
    width: 70%;
    color: var(--dark-color);
    border: 1px solid var(--lighter-text-color);

    background-image: linear-gradient(to right, var(--lighter-text-color) 50%, var(--dark-hover-color) 50%);
    background-size: 200%;
    transition: 0.4s ease-out;
    cursor: pointer;
}

#cardsShowHere button:hover {

    background-position: right;
    color: var(--lighter-text-color);
    border: 1px solid var(--dark-color);
}

/*animations*/
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*DIALOG*/


/*FOOTER*/
footer {
    display: block;
    background-color: var(--primary-color);
    color: var(--lighter-text-color);
    padding: 1rem 20px;
    text-align: left;
}

footer div p {
    margin-bottom: 0;
    margin-top: 0.5em;
}

footer h3 {
    margin-bottom: 0;
    margin-top: 0.2em;
    font-family: var(--heading-font-family);
    font-weight: 700;
}

div {
    margin: 1em auto;
    padding: 0 1em;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    column-gap: 8px;
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: solid 1px var(--accent-color);
    border-radius: 22px;
}

.social-media img {
    width: 40px;
    height: 40px;
}

.social-media a:hover {
    background-color: var(--dark-color);
}