:root {
    --body-font-family: "Montserrat", sans-serif;
    --body-font-weight: 400;
    --heading-font-family: "Shrikhand", serif;
    --heading-font-weight: 400;

    /*Colors*/
    --dark-color: #17033f;
    --primary-color: #1c2d63;
    --secondary-color: #ad95db;
    --accent-color: #c8c96a;
}

/*For the whole site*/
* {
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/*HEADER*/
header {
    display: grid;
    grid-template-columns: 35px auto 44px;
    padding: 7px 0 5px 20px;
    align-items: end;
    column-gap: 15px;
    background-color: var(--primary-color);

}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.3rem;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: #ffff;
    padding-bottom: 5px;
}

/*HAMBURGER NAVIGATION*/
.hamburger {
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/*NAVIGATION BAR*/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 1rem 20px;
    color: var(--dark-color);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    font-weight: 500;
}

.navigation li.current {
    background-color: #c8c96ac4;
}

.navigation a:hover {
    background-color: var(--accent-color);
}

/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 0.6em;

    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 1rem 20px;
    text-align: left;
}

footer div p{
    margin-bottom: 0;
    margin-top: 0.5em;
}

footer h3{
    margin-bottom: 0;
    margin-top: 0.2em;
    font-weight: 600;
}

div{
    margin: 1em auto;
}

.social-media {
    display: flex;
    justify-content: center;
    text-align: center  ;
    column-gap: 8px;
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: solid 1px var(--secondary-color);
    border-radius: 22px;
}

.social-media img {
    width: 30px;
    height: 30px;
}

.social-media a:hover {
    background-color: var(--accent-color);

}