* {
    box-sizing: border-box;
}

#openButton, #closeButton{
    background-color: #19bfc59a;
    border: none;
    border-radius: 0.6em;
    padding: 0.6em;
    color: #003536;
    font-size: 0.9em;
    font-weight: 700;
    text-transform: capitalize;
}

#openButton:hover,
#closeButton:hover{
    background-color: #16aaaf9a;
}

#dialogBox{
    border-radius: 0.6em;
    border: none;
    font-size: 14px;

}

::backdrop  {
    background-color: #16aaaf2d;
}