:root {
    --body-font-family: "Montserrat", sans-serif;
    --body-font-weight: 400;
    --heading-font-family: "Shrikhand", serif;
    --heading-font-weight: 400;

    /*Colors*/
    --primary-color: #E3E1F5;
    --secondary-color: #2B2D42;
    --accent-color: #EFC88B;
}

/*For the whole site*/
* {
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    text-transform: uppercase;
    margin-left: 15px;
    color: var(--secondary-color);
}

/*HEADER*/
header {
    display: grid;
    grid-template-columns: 30px auto 44px;
    padding: 7px 0 5px 15px;
    align-items: end;
    column-gap: 15px;
    background-color: var(--secondary-color);

}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.3rem;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--primary-color);
    padding-bottom: 5px;
}

/*HAMBURGER NAVIGATION*/
.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/*NAVIGATION BAR*/
.navigation {
    display: none;
}

.navigation.show {
    display: block;

}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 1rem 15px;
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    font-weight: 500;
}

.navigation li.current {
    background-color: #fcd08ac4;
}

.navigation a:hover {
    background-color: var(--accent-color);
}

/*MAIN*/

main {
    display: block;
}


h1 {
    grid-column: 1/4;
}

h2 {
    font-weight: 500;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    padding: 0.8rem;
    margin-top: 0;
    border-radius: 0.6em;
    text-align: center;
}

section {
    border-radius: 0.9em;
    box-shadow: #2B2D4205 0px 1px 3px 0px, #1b1b2c26 0px 0px 0px 1px;
}

#about-sct {
    grid-column: 1/3;
}

#about-sct p {
    padding: 0.7rem 2rem 0.7rem 2rem;
    font-size: 16.5px;
}

#photo-sct {
    grid-column: 3/4;
}

#photo-sct img {
    display: block;
    width: 200px;
    height: auto;
    margin: auto;
    border-radius: 0.6em;
    border: 8px solid var(--accent-color);
}

#courses-sct {
    grid-column: 1/4;
    margin-bottom: 0.6em;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    align-items: center;
}

#courses-sct h2,
#courses-sct nav,
#courses-sct span,
#courses-sct div {
    padding: 0.7rem 2rem 0.7rem 2rem;
    grid-column: 1/4;
}

#courses-sct span {
    text-align: center;
}

#courses-sct nav{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}

#courses-sct button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    height: 44px;
    padding: 0 1em 0 1em;
    border-radius: 0.6em;
    font-family: var(--body-font-family);
    font-weight: 500;
    font-size: 1em;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-image: linear-gradient(to right, #FFF 50%, var(--secondary-color) 50%);
    background-size: 200%;
    transition: 0.4s ease-out;
}

#courses-sct button:hover{
    background-position: right;
    color: var(--primary-color);
}

#filtered-courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    text-align: center;
    column-gap: 0.6em;
}

#filtered-courses h3 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.7rem 2rem 0.7rem 2rem;
    border-radius: 0.6em;
}

/*FOOTER*/
footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem 15px;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: solid 1px var(--accent-color);
    border-radius: 22px;
}

.social-media img {
    width: 30px;
    height: 30px;
}

.social-media a:hover {
    background-color: #1b1b2c;
}