:root {
    --body-font-family: "Montserrat", sans-serif;
    --body-font-weight: 400;
    --heading-font-family: "Shrikhand", serif;
    --heading-font-weight: 400;

    /*Colors*/
    --primary-color: #E3E1F5;
    --secondary-color: #2B2D42;
    --accent-color: #EFC88B;
}

/*For the whole site*/
* {
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    box-sizing: border-box;
}

header{
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 0.6em;
}

header h1, #cards h2{
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
}

header h1{
    color: var(--primary-color);
    padding: 0.8em;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    text-align: center;
    column-gap: 1em;
    row-gap: 1em;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

#cards h2{
    font-size: 27px;
}

#cards section{
    border-radius: 0.6em;
    padding: 1em;
    background-color: var(--accent-color);
}

#cards section:hover{
    transform: scale(1.03);
}
#cards p{
    font-size: 16px;
}

#cards img{
    box-shadow: rgba(2, 2, 2, 0.726) 0px 2px 8px 0px;
}

footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 1em;
    color: var(--secondary-color);
}