/************** LARGER VIEW *****************/
@media only screen and (min-width: 38em) {
    
    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }
}