:root {
    --heading-font-family: "Inter", sans-serif;
    --heading-font-weight: 700;
    --heading-font-size: 3em;
    --body-font-family: "Roboto Slab", serif;
    --body-font-weight: 200;
    --subheading-font-weight: 400;

    /*Colors*/
    --background-color: #0d0f12;
    --primary-color: #a99aff;
    --secondary-color: #1e232bc7;
    --accent-color: #f4f4f4;
}

* {
    background-color: var(--background-color);
    color: var(--accent-color);
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    padding: 1em;
}

h1,
h2,
h3,
a {
    font-family: var(--heading-font-family);
    background-color: transparent;
}

h1 {
    font-weight: var(--heading-font-weight);
    color: var(--primary-color);
    font-size: var(--heading-font-size);
}


h2 {
    font-weight: var(--subheading-font-weight);
    font-style: italic;
    font-size: 1.86em;
    margin-bottom: 0;
    text-transform: capitalize;


}

h3 {
    font-style: italic;
    font-size: 1.17em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

p,
span,
figure {
    background-color: transparent;
}

/************** HEADER *****************/
header {
    display: block;
    padding: 20px 0 5px 20px;
    align-items: center;
    column-gap: 1em;
}

header img {
    width: 44px;
    height: 44px;
}

header span {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--primary-color);
    font-size: 1.5em;
    text-transform: uppercase;
}

/************** NAVIGATION *****************/
/*HAMBURGER NAVIGATION*/
.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 3em;
    padding: 0;
}

.hamburger:hover {
    background-color: var(--secondary-color);
    border-radius: 0.6em;
}

/*NAVIGATION BAR*/
.navigation {
    display: none;
    margin-left: auto;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

.navigation li.current a {
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.navigation a:hover {
    transition: 0.5s ease-in;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--primary-color);
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
}

/************** MAIN *****************/
main {
    display: block;
    padding-top: 1em;
    column-gap: 1.3em;
    row-gap: 1.3em;
}

main h1 {
    grid-row: 1/5;
    display: inline;
    white-space: normal;
    border-radius: 0.6em;
}

main div {
    padding: 0.6em;
}

#colorCard {
    grid-column: 2/3;
}

#typeCard {
    grid-column: 3/4;
}

#typeCard p span:nth-child(1) {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-size: var(--heading-font-size);
}

#typeCard p span:nth-child(5) {
    font-family: var(--body-font-family);
    font-weight: var(--heading-font-weight);
    font-size: var(--heading-font-size);
}

#scenariosCard,
#wireframeCard {
    grid-column: 2/4;
}

#scenariosCard h2,
#scenariosCard h3,
#wireframeCard h2,
#wireframeCard h3 {
    text-align: center;
}

.website-name {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: italic;
    color: var(--primary-color);
}

.card {
    box-shadow: 0 0 10em 1em var(--secondary-color);
    border-radius: 0.6em;
    padding: 2em;
}

.card:hover {
    transform: scale(1.04);
    transition: 0.3s ease-in;
}

#backColor:hover,
#primColor:hover,
#secondColor:hover,
#accentColor:hover {
    transform: rotate(-4deg);
    transition: 0.3s ease;
}

.colorCircles {
    margin: 2rem;
    width: 90%;
    height: 50px;
    border-radius: 0.6em;
    text-align: center;
    justify-content: center;
    font-family: var(--heading-font-family);
    font-weight: var(--subheading-font-weight);
}

#backColor {
    background-color: var(--background-color);
    box-shadow: 0 0 1em 0 var(--secondary-color);
}

#primColor {
    background-color: var(--primary-color);
    color: var(--background-color);
    box-shadow: 0 0 1em 0 var(--primary-color)
}

#secondColor {
    background-color: var(--secondary-color);
    box-shadow: 0 0 1em 0 var(--primary-color);
}

#accentColor {
    background-color: var(--accent-color);
    color: var(--background-color);
    box-shadow: 0 0 1em 0 var(--accent-color);
}

/************** DIALOG *****************/

/************** FOOTER *****************/