:root {
    --heading-font-family: "Inter", sans-serif;
    --heading-font-weight: 700;
    --heading-font-size: 3em;
    --body-font-family: "Roboto Slab", serif;
    --body-font-weight: 300;
    --subheading-font-weight: 400;

    /*Colors*/
    --background-color: #0d0f12;
    --primary-color: #9d8ff0;
    --secondary-color: #f7d25b;
    --accent-color: #f4f4f4;
}

* {
    background-color: var(--background-color);
    color: var(--accent-color);
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 1em;
}

header,
main,
footer {
    padding: 1em;
}

/************** HEADER *****************/
header {
    display: grid;
    grid-template-columns: 35px auto auto 44px;
    padding: 7px 0 5px 20px;
    align-items: end;
    column-gap: 2em;
    padding-top: 2em;
}

header img {
    width: 44px;
    height: 44px;
}

header span {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--primary-color);
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

/************** NAVIGATION *****************/
/*HAMBURGER NAVIGATION*/
.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/*NAVIGATION BAR*/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 1rem 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 0.5em;
}

.navigation li.current a,
.navigation a:hover {
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
}

/************** MAIN *****************/
h1,
h2,
h3,
a {
    font-family: var(--heading-font-family);
}

h1 {
    font-weight: var(--heading-font-weight);
    color: var(--primary-color);
    font-size: var(--heading-font-size);
}

h2 {
    font-weight: var(--subheading-font-weight);
    font-size: 1.86em;
    margin-bottom: 0;
}

h3 {
    font-style: italic;
    font-size: 1.17em;
}

/************** DIALOG *****************/

/************** FOOTER *****************/